@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest of the styles */

html,
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	display: flex;
    font-family: "Raleway", sans-serif;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	overflow-x: hidden;
}
